<form [formGroup]="IdeaForm" (ngSubmit)="onSubmit()">

    <label for="idea-title">Title of your idea</label>
    <input 
        id="idea-title"
        type="text" 
        formControlName="name"
        placeholder="Title">


    <label for="idea-description">Description of your idea</label>
    <textarea 
        id="idea-description"
        type="text" formControlName="description"
        placeholder="Idea description here :)"></textarea>


    <button type="submit">submit</button>

</form>
